
.midcol.likes{
	background-image: url('http://i.imgur.com/STpku4z.png'); /*Because I'm damn tired of trying to get the extensions to load a locally stored images...*/
}

.score.likes{
	opacity: 0.5;
}

.midcol.dislikes{
	background-image: url('http://i.imgur.com/XqZPr9C.png');
}

.score.dislikes{
	opacity: 0.5;
}

.upScott.upmod{
	background-image: url('//b.thumbs.redditmedia.com/8c7oSqZWJsP-c6VxPus94iZ4bWeeZNPINKvRNA2LbrU.png') !important;
}

.upScott.downmod{
	background-image: url('//b.thumbs.redditmedia.com/Btm4Qfe7pnei72j752VhGf995qMN0guYrmeZ8ypcyVw.png') !important;
}

.upScott.midcol.likes{
	background-image: none;
}

.upScott.midcol.dislikes{
	background-image: none;
}